<h2>Ask a question to the coach</h2>

<h3>Your question was...</h3>
<%# # Todo: embed code to reiterate question here %>
<%= @userinput %>

<h3>The advice you need:</h3>
<%= @answer %>
<%# Todo: add advice of coach %>

<p> <%= link_to("Ask a new question", ask_path) %> </p>
