<div class="container">
  <h3>💭 Your question was...</h3>
  <div class="border-start border-5 ps-3">
    <div class="blockquote my-2"><em>
      <%= @userinput %>
    </em></div>
    <div class="blockquote-footer my-2">You</div>
  </div>
</div>

<div class="container mt-5">
  <h3>💬 The advice you need:</h3>
  <div class="border-start border-5 ps-3">
    <div class="blockquote my-2"><em><%= @answer %></em></div>
    <div class="blockquote-footer my-2">Your Coach</div>
  </div>
</div>

<div class="container mt-5">
  <p> <%= link_to("Ask a new question", ask_path) %> </p>
</div>
